{% extends 'layout.html.twig' %}

{% block content %}
  <nav>
    <a href="/lexington/admin/users">STAT Members</a>
    <a href="/lexington/admin/statuses">Statuses</a>
    <a href="/lexington/admin/issues">Issues</a>
    <a href="/lexington/admin/feedback">Feedback</a>
    <a href="/lexington/admin/import">Import</a>
  </nav>
{% endblock %}
