@import 'vendor/reset';

@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");

@page {
  margin: 0;
}

body {
  padding: 50px;
  font-family: Nunito, Arial, sans-serif;
}

.print__section {
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  padding: 20px;
}

.print__header {
  display: flex;
  justify-content: center;
}

.print__header-major-info {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.25;
  font-size: 1.5rem;
}

.print__header-title {
  font-weight: bold;
  font-size: 4rem;
}

.print__header-payment {
  font-style: italic;
  font-size: 1.3rem;
}

.print__header-bill-sent-area {
  position: relative;
  font-size: 1.3rem;
}

.print__header-bill-sent {
  display: inline-block;
}

.print__header-checkbox {
  position: absolute;
  top: 0.25em;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  border: 1px solid #000;
  margin-left: 10px;
}

.print__header-qrcode {
  margin: auto 0 auto auto;
}

.print__info {
  display: flex;
}

.print__description-text {
  font-size: 1.25rem;
}

.print__loaners,
.print__details {
  display: inline-block;
  width: 40%;
}

.print__loaners-table {
  width: 100%;
  font-size: 1.1rem;
}

.print__loaners-table-row {
  text-align: center;
}

.print__loaners-table-row > * {
  padding: 5px 0;
}

.print__loaners-table-header {
  padding-bottom: 10px;
}

.print__loaners-table-header-text {
  border-bottom: 1px solid #000;
}

.print__details {
  margin-left: auto;
}

.print__details-text {
  display: block;
  font-size: 1.1rem;
  line-height: 1.25;
}

.print__details-label {
  vertical-align: top;
  display: inline-block;
  border-bottom: 1px solid #000;
  margin-top: auto;
}
