// $primary: #1b67d6;
// $primary: #5a81ff;
$primary: #207ee7;
$success: #31c854;
// $success: #4F97FE;
// $danger: #d53541;
$danger: #ed615c;

$gray-light: #eff3f5;
$gray-dark: #24292e;

$text-light: #fafafa;
$text-dark: #444;

$bg-light: #f6f8fa;

$border: #d1d5da;
$hover: lighten($primary, 45%);
