{% extends 'layout.html.twig' %}

{% block content %}
  <div class="list">
    <header class="list__header">
      <h2 class="list__title">All Documentation</h2>
      
      <div class="list__actions">
        {% if current_user.is_admin %}
          <a href="/lexington/documentation/new">
            <button class="btn btn--primary">New</button>
          </a>
        {% endif %}
      </div>
    </header>

    <table class="table sortable">
      <tr class="table__header-row">
        <th>Title</th>
        <th>Slug</th>
      </tr>

      {% for article in articles %}
        <tr class="table__data-row">
          <td>
            <a href="/lexington/documentation/{{ article.slug }}">{{ article.title }}</a>
          </td>
          <td>
            <a href="/lexington/documentation/{{ article.slug }}">{{ article.slug }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
