{% extends 'layout.html.twig' %}

{% block content %}
  <div class="individual">
    <header class="individual__header individual__section">
      <h2 class="individual__title">{{ article.title }}</h2>

      {% if current_user.is_admin %}
        <a href="/lexington/documentation/{{ article.slug }}/edit">
          <button class="btn">Edit</button>
        </a>
      {% endif %}
    </header>

    <h3 class="individual__section-title">Article</h3>
    <section class="individual__section documentation__content">
      {{ article_markdown_content|raw }}
    </section>
  </div>
{% endblock %}
